@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	transition: all 0.2s ease;
}
body {
	scroll-behavior: smooth;
	min-height: 100vh;
}

main {
	position: absolute;
	top: 2.8125rem;
	height: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
@layer base {
	main {
		height: calc(100vh - 60px);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.blur {
		background-color: rgba(255, 255, 255, 0.103);
		backdrop-filter: blur(10px);
	}
	ul a:hover .show {
		display: block;
		height: auto;
		visibility: visible;
		opacity: 1;
	}

	.my-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		justify-content: start;
		max-width: 550px;
		gap: 10px;
	}
	.my-grid2 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		justify-content: start;
		gap: 10px;
	}
	.my-grid3 {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		justify-content: start;
		gap: 10px;
	}
	.my-trans {
		transition: all 0.4s ease-in-out;
	}
	p .icon {
		transition: 0.3s ease;
		opacity: 0;
	}
	.my-hover .icon {
		opacity: 1;
	}
	.my-hr {
		position: relative;
	}
	.my-hr::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #c2c2c7c7;
	}

	.scroll-hidden::-webkit-scrollbar {
		display: none;
	}
	.important {
		width: 230px !important;
		height: auto !important;
		display: block;
	}
	.hidden2 {
		display: none !important;
	}
	.gradient {
		background-image: linear-gradient(
			to right,
			rgb(248, 171, 94) 0px,
			rgb(243, 105, 97) 20%,
			rgb(161, 118, 200) 40%,
			rgb(117, 155, 235) 60%,
			rgb(101, 190, 179) 80%,
			rgb(112, 219, 150) 100%
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
