@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}
body {
	scroll-behavior: smooth;
	min-height: 100vh;
}

main {
	position: absolute;
	bottom: 0;
	height: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
@layer base {
	main {
		height: calc(100vh - 60px);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.blur {
		background-color: rgba(255, 255, 255, 0.103);
		backdrop-filter: blur(10px);
	}
	ul a:hover .show {
		display: block;
		height: auto;
		visibility: visible;
		opacity: 1;
	}

	.my-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		justify-content: start;
		max-width: 500px;
		gap: 10px;
	}
	.my-trans {
		transition: all 0.4s ease-in-out;
	}
	p .icon {
		transition: 0.3s ease;
		opacity: 0;
	}
	.my-hover .icon {
		opacity: 1;
	}
}
